// Banner Area Styles
.banner-area {
    padding-top: 100px;
    padding-bottom: 100px;

    .row {
        width: 100%;

        .col-3 {
            width: 37.5% !important;

            img {
                width: 100% !important;
                padding-left: 5px !important;
                padding-right: 5px !important;
            }

            .item-disc {
                top: 55%;
                left: 15%;
                font-weight: 400;
                cursor: pointer;

                .item-title {
                    color: $item-title;
                    font-size: 24px;
                    margin-bottom: 14px;
                }

                .item-amount {
                    color: $item-amount;
                    font-size: 16px;
                }
            }
        }

        .col-3.center {
            width: 24.9% !important;

            .item-disc-center {
                top: 35%;
                left: 20%;
                text-align: center;

                .title {
                    color: $jesco-red;
                    font-size: 30px;
                    font-weight: 400 !important;
                    margin-bottom: 19px;
                }

                .shop-link {
                    color: $shop-link;
                    font-size: 18px;
                    border-bottom: 2px solid $item-amount !important;

                    &:hover{
                        color: $jesco-red;
                        border-bottom: 2px solid $jesco-red !important;
                    }
                }
            }
        }
    }
}

// Responsive Banner Area
@media (max-width:1200px) {
    .container {
        max-width: 1000px !important;

        .banner-area {
            padding-bottom: 80px;
            padding-top: 80px;

            .row {
                .col-xl-3.center {
                    .item-disc-center {
                        top: 35%;
                        left: 15%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width:992px) {
    .container {
        max-width: 960px !important;

        .banner-area {
            padding-bottom: 60px;
            padding-top: 60px;

            .row {
                .col-lg-3.center {
                    .item-disc-center {
                        top: 30%;
                        left: 15%;

                        .title {
                            font-size: 20px;
                            margin-bottom: 6px;
                        }

                        .shop-link {
                            font-size: 16px;
                        }
                    }
                }

                .col-lg-3 {
                    .item-disc {
                        top: 40%;
                        left: 12%;

                        .item-title {
                            margin-bottom: 8px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:767px) {
    .container {
        max-width: 720px !important;

        .banner-area {
            padding-top: 60px;
            padding-bottom: 60px;

            .row {
                .col-md-9.center {
                    width: 100% !important;
                    margin-bottom: 30px !important;

                    .item-disc-center {
                        top: 45%;
                        left: 35%;

                        .title {
                            font-size: 30px;
                            margin-bottom: 10px;
                        }

                        .shop-link {
                            font-size: 18px;
                        }
                    }
                }

                .col-md-9 {
                    width: 100% !important;
                    margin-bottom: 30px !important;

                    .item-disc {
                        top: 50%;
                        left: 15%;
                    }
                }
            }
        }
    }
}


@media (max-width:576px) and (min-width:360px) {
    .container {
        max-width: 570px !important;

        .row {
            margin: 0 !important;

            .col-sm-9.center {
                width: 100% !important;

                .item-disc-center {
                    top: 35% !important;
                    left: 22% !important;
                }
            }
        }
    }
}

// Feature Area Styles
.feature-area {
    padding-bottom: 100px;

    .row {
        width: 100%;
        margin: 0 !important;

        .col-4 {
            width: 31%;
            border: 1px solid $border-color;
            padding: 30px;

            .feature-icon {
                width: 70px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(-155deg, #fd3d6b 0%, #fd7863 98%, #f3dfe0 100%);
                border-radius: 50%;
                margin-right: 30px;
            }

            .feature-content {
                h4 {
                    font-size: 24px;
                    color: $feature-title;
                    margin-bottom: 3px;
                    font-weight: 400 !important;
                }

                p {
                    font-size: 16px;
                    color: $feature-paragraph !important;
                }
            }
        }
    }
}

// Responsive Feature Area
@media (max-width:1200px) and (min-width:992px) {
    .feature-area {
        .row {
            .col-4 {
                padding: 20px;

                .feature-icon {
                    margin-right: 20px;
                }

                .feature-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h4 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width:992px) and (min-width:768px) {
    .feature-area {
        .row {
            display: grid !important;
            grid-template-columns: repeat(2, 1fr) !important;
            gap: 30px;

            .col-4 {
                width: 100%;
                padding: 25px;

                .feature-icon {
                    margin-right: 30px;
                }

                .feature-content {
                    h4 {
                        font-size: 24px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width:789px) and (min-width:768px) {
    .feature-area {
        .row {
            .col-4 {
                padding: 20px !important;

                .feature-icon {
                    margin-right: 20px !important;
                }

                .feature-content {
                    h4 {
                        font-size: 20px !important;
                    }

                    p {
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
}

@media (max-width:767px) {
    .feature-area {
        .row {
            display: grid !important;
            grid-template-columns: repeat(1, 1fr) !important;
            gap: 30px;

            .col-4 {
                width: 100%;
                padding: 30px !important;

                .feature-icon {
                    margin-right: 30px !important;
                }

                .feature-content {
                    h4 {
                        font-size: 24px !important;
                    }

                    p {
                        font-size: 16px !important;
                    }
                }
            }
        }
    }
}

@media (max-width:360px) {
    .feature-area {
        .row {
            .col-4 {
                padding: 25px !important;

                .feature-icon {
                    margin-right: 20px !important;
                }

                .feature-content {
                    h4 {
                        font-size: 20px !important;
                    }

                    p {
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
}