$top-color:#b5b5b5;
$top-bacground:#242424;
$main-color:#4C4C4C;
$jesco-red:#fb5d5d;
$white:#fff;
$black:#000;
$border-color:#e0e0e0;
$bg-color1:#fcf6f6;
$bg-color2:#cebdb5;
$item-title:#323232;
$item-amount:#575656;
$shop-link:#161616;
$feature-title:#2E2E2E;
$feature-paragraph:#848484;
$rating-checked:#ffde00;
$rating-unchecked:#e4e4e4;
$review-color:#9F9E9E;
$product-link:#1D1D1D;
$nav-link:#A7A7A7;
$deal-title:#464444;
$counter-color:#303030;
$testimonial-text:#818790;
$testi-personName:#39393A;
$testi-customer:#576477;
$information-bg: #f4f4f4;
$color-af: #afafaf;
$footer1-bg-color:#333333;
$footer2-bg-color:#474646;
$shop-bg-color:#fcf6f6;
$shop-title:#3C3C3C;
