$top-color:#b5b5b5;
$top-bacground:#242424;
$main-color:#4C4C4C;
$jesco-red:#fb5d5d;
$white:#fff;
$border-color:#e0e0e0;
$bg-color1:#fcf6f6;
$bg-color2:#cebdb5;
$item-title:#323232;
$item-amount:#575656;
$shop-link:#161616;
$feature-title:#2E2E2E;
$feature-paragraph:#848484