$top-color: #b5b5b5;
$top-bacground: #242424;
$main-color: #4c4c4c;
$jesco-red: #fb5d5d;
$white: #fff;
$border-color: #e0e0e0;
$slider-color-light: #fcf6f6;
$slider-color-dark: #cebdb5;
$product-first-section: #fcf6f6;
$star-color: #fdd835;
$information-bg: #f4f4f4;
$color-af: #afafaf;
$related-prods: #fd3d6b;

$top-color: #b5b5b5;
$top-bacground: #242424;
$main-color: #4c4c4c;
$jesco-red: #fb5d5d;
$white: #fff;
$border-color: #e0e0e0;
$bg-color1: #fcf6f6;
$bg-color2: #cebdb5;
$item-title: #323232;
$item-amount: #575656;
$shop-link: #161616;
$feature-title: #2e2e2e;
$feature-paragraph: #848484;
$rating-checked: #ffde00;
$rating-unchecked: #e4e4e4;
$review-color: #9f9e9e;
$product-link: #1d1d1d;
